.svg-area {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #272727 !important;
}

.heatMapMonths-labels {
  /* text-anchor: middle; */
  font-size: 12px;
}

#submitBtn,
#weightSubmitBtn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Default state */
#submitBtn,
#weightSubmitBtn {
  color: #323232;
  background-color: #dfe1e4;
}

/* Hover state */
#submitBtn:hover,
#weightSubmitBtn:hover {
  background-color: #dfe1e4;
}

body {
  text-align: center;
}

#orderHeatMap {
  overflow-x: scroll;
  width: 80%;
  margin: 20px auto;
  /* Add margin to create space */
}

#checkBoxes {
  margin-bottom: 20px;
  background-color: rgba(172, 102, 222, 0.617) !important;
  width: 80%;
  border-radius: 20px;
  /* Add margin to create space below checkboxes */
}

#submitBtn,
#weightSubmitBtn {
  display: block;
  margin: 10px auto;
  /* Add margin to create space above and below buttons */
}

#myChart {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  /* Add margin to create space above and below the chart */
}

#weightInput {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  width: 40%;
  box-sizing: border-box;
  margin: top 20px;
  /* Add margin to create space above and below the input field */
}